@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

.slider img {
  width: 1440px;
  height: 650px;
  object-fit: cover;
}
.pricing {
  background: #f496d25d;
  color: #32a2e2;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 24px;
  border: 0;
}
.hot-bonus {
  border-radius: 30px;
}
footer img {
  border-radius: 8px;
  display: block;
  margin-top: 10px;
}